<!-- Button trigger modal -->

<div class="d-flex justify-content-end">
 <button
  type="button"
  class="justify-content-end btn btn-light plus-icon"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <i class="bi bi-plus"></i>
</button> 
</div>
<!-- Modal"
-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" id="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <label class="label">Title</label>
          <input
            minlength="4"
            type="text"
            class="form-control"
            formControlName="title"
            required
          />
          <p
            style="color: red"
            *ngIf="
              form.controls['title'].invalid && form.controls['title'].value
            "
          >
            Required
          </p>
          <label class="label">Priority </label>

          <select
            formControlName="priority"
            class="form-select" label="Choose priority"
          >
            <option selected value="" disabled>Choose priority</option>
            <option *ngFor="let item of priority_list" [ngValue]="item">
              {{ item }}
            </option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-info"
          data-bs-dismiss="modal"
          [disabled]="form.invalid"
          (click)="onAddTask()"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
